.mainComparatif {
  text-align: center;
  display: inline-flex;
  font-size: 12px;
  background-color: #f1f1f1;
  text-decoration: none;
  margin: none;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.switchComparatifFirst {
  width: 10%;
}

.switchComparatifSecond {
  
}

button {
    background-color: #48ffe0;
}