.mainComparatif {
  text-align: center;
  display: inline-flex;
  font-size: 12px;
  background-color: rgb(199, 199, 199);
  text-decoration: none;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  top: 10;
  z-index: 25;
  justify-content: space-between;
  width: 100vw;
  height: 330px;
  padding-top: 20px;
  padding-bottom: 40px;
  align-items: flex-end;
}

.Comparatifbutton {
  background-color: #48ffe0;
  margin-top: 10px;
}

.cardComparatif{
  width: 50vw;
}

ul {
  list-style-type: none;
}

.titreComparatifDetails{
  font-size: 10px;
}