.img_caddie {
  height: 40px;
  width: 40px;
  
}

.modal_panierlist {
  border: 1px solid;
  z-index: 999;
  position: absolute;
  background-color: white;
  margin-left: -40vw;
  padding: 10px;
  display: block;
}