.container{
  font-family: 'Times New Roman', Times, serif;
}

.centre_img{
  display: flex;
  justify-content: center;
  width: auto;
}

.img_produit{
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  background-repeat: no-repeat;
}

.nom_produit{
  font-size: x-large;
}

.prix_produit{
  font-size: x-large;
  font-weight: bold;
}

.section_panier{
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(199, 199, 199, 0.445);
  border-radius: 10px;
  padding: 10px 0px;
}



.modifier_produit{
  justify-content: space-between;
  display: flex;
  margin: 5px 20px;
}
.add_cut{
  display: flex;
  justify-content: center;
}

.bouton_moins{
  border: none;
}

.nombre_produit{
  width : 15px;
  border: none;
}

.bouton_plus{
  border: none;
}

.Button_ajout_panier{
  border: none;
  background-color: #29b9ad;
  height : 40px;
  border-radius: 10px;
  margin: 10px 0px;

}

.Button_comparer{
  border: none;
  background-color: #29b9ad;
  width: 100%;
  height : 40px;
  border-radius: 10px;
}

/* ---------------------- */
/* Détails du produit */

.fiche_produit{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: auto;
}
.container_détails_produit{
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.363);
  width: 80vw;
  height: auto;
  border-radius: 15px;
}

.titre_cara_produit{
  margin: 20px 20px;
  font-size: large;
}

.liste_caractéristiques{
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
  height: auto;
}

.caracteristique1{
  width: 100%;
  max-width: 137px;
  margin-right: 16px;
  color: #0c193a;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.caracteristique2{
  width: calc(100% - 137px - 16px);
  color: #505971;
  font-size: 14px;
  line-height: 20px;
}


/* --------------------------------------- */
/* Media queries 640px max */

@media screen and (min-width: 640px){
  .affichage_desktop{
    margin: auto;
     display: flex;
    /* justify-content: center;
    flex-direction: row; */ 
  }

  /* .affichage_produit{
    flex-wrap: wrap-reverse;
  } */
 
  .img_produit{
    margin-right: 20px;
    webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    width : 350px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    background-repeat: no-repeat;
  }

  .info-produit{
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #ecedf0;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
    border-radius: 8px;
    padding: 16px;
  }
  
  .nom_produit{
    font-size: x-large;
  }

  .en_stock{
    align-items: center;
  }
  
  .prix_produit{
    font-size: x-large;
    font-weight: bold;
  }
  
  .section_panier{
    margin: auto;
    display: flex;
    background-color: rgba(199, 199, 199, 0.445);
    width : 300px;
    height: 150px;
  }
  
  
  
  .modifier_produit{
    justify-content: space-between;
    display: flex;
    margin: 5px 20px;
  }
  .add_cut{
    display: flex;
    justify-content: center;
  }
  
  .bouton_moins{
    border: none;
  }
  
  .nombre_produit{
    width : 15px;
    border: none;
  }
  
  .bouton_plus{
    border: none;
  }
  
  .Button_ajout_panier{
    border: none;
    background-color: #29b9ad;
    width: 100%;
    height : 40px;
    border-radius: 10px;
    margin: 10px 0px;
  
  }
  
  .Button_comparer{
    border: none;
    background-color: #29b9ad;
    width: 100%;
    height : 40px;
    border-radius: 10px;
  }

}