.title {
  text-align: end;
  font-size: 10px;
}

.CardList {
  display: flex;
  flex-direction: column-reverse;
  float: inline-end;
}

.card {
  display: flex;
  border-radius: 15px;
  margin: 0 0em 3em 0;
  width: 172px;
  height: 380px;
  border: 1px solid black;
  text-align: center;
}

p {
  text-align: center;
}
